body{
    background-image: url(img/f1.jpg);
    height: 100%;
}
#wrapper{
    
}
li{
    padding-left: 15px;
    display: block;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    background-color: yellow;
    -moz-box-shadow: #000 2px 4px 2px;
    -webkit-box-shadow: #000 2px 2px 2px;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 1.25em;
}
li:hover{

}
#card-1{
    height: 500px;
    border: thin solid black;
    width: 320px;
    left: 450px;
    transform: rotate(-30deg);
    z-index: 2;
    top: 220px;
}
#card-1:hover{
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 10;
}
#card-2{
    height: 500px;
    border: thin solid black;
    width: 320px;
    left: 600px;
    top: 150px;
    transform: rotate(-15deg);
    z-index: 3;
}
#card-2:hover{
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    z-index: 10;
}
#card-3{
    height: 500px;
    border: thin solid black;
    width: 320px;
    left: 750px;
    z-index: 4;
    top: 100px;
}
#card-3:hover{
    z-index: 10;
}
#card-4{
    height: 500px;
    border: thin solid black;
    width: 320px;
    left: 900px;
    transform: rotate(15deg);
    z-index: 3;
    top: 150px;
}
#card-4:hover{
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    z-index: 10;
}
#card-5{
    height: 500px;
    border: thin solid black;
    width: 320px;
    left: 1050px;
    transform: rotate(30deg);
    z-index: 2;
    top: 220px;
}
#card-5:hover{
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    z-index: 10;
}
img{

}
#bil{
    z-index: 40;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    /*margin-bottom: -40px;*/
    /*padding-top: 850px;*/
    right: 0px;
    /*display: none;*/
    
}
#button{
    z-index: 13;
    position: absolute;
    bottom: 140px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
}
.classname{
/*    -webkit-animation: movecar 10s infinite;
    -moz-animation: movecar 10s infinite;
    -o-animation: movecar 10s infinite;*/
    animation: movecar 10s infinite;
    -webkit-animation: movecar 10s infinite;
    -moz-animation: movecar 10s infinite;
    animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes movecar{
    from{margin-left: 1000px;}
    to{margin-left: -1000px;}
    
}
@-moz-keyframes movecar{
    from{margin-left: 1000px;}
    to{margin-left: -1000px;}
    
}
